@page "/goods-list"
@inject IGoodService GoodService
@attribute [Authorize(Roles = "Administrator,User")]

<h2>GoodList</h2>

@foreach (var good in goods)
{
	<h3>Товар: @good.Name</h3>
	<p>Цена: @good.Price</p>
	<hr />
}

@code {
	private List<Good> goods = new List<Good>();

	protected override async Task OnInitializedAsync()
	{
		goods = await GoodService.GetAll();
	}
}
